$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

// colors
$color-accent: #0066CC
$color-background-alt: #ebf4fa

// typography
$body-font-family: 'Lato', sans-serif
$heading-font-family: $body-font-family

// header
$header-logo-height-desktop: 70px
$footer-logo-height-desktop: 70px

// footer
$footer-color: var(--color-background)
$footer-background-color: var(--color-accent)

// blocks
$block-call-to-action-all-actions-as-buttons: true
